input {
    width: 20%;
    margin-right: 20px;
}

form {
    direction: row;    
    display: flex;

}

.half {
    width: 60%;
}

.delete-button {
    border: none;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 20px;
    position: relative;
    left: 110px;
    top: 3px;
}