<div class="container">
  <div class="card mx-auto">
    <div class="card-body">
        <i class="fa fa-user-o fa-5x" aria-hidden="true"></i>
        <div class="card-content">
            <h2>{{currentUser.name}}</h2>
            <h4>Personal Information</h4>
            <p>Email: {{currentUser.email}}</p>
            <p *ngIf="currentUser.telnum">Tel.Number: {{currentUser.telnum}}</p>
            <button class="btn" [routerLink]="['/login']">Log Out</button>
        </div>
    </div>
  </div>
  <app-table></app-table>

</div>