<div class="container">
  <div class="card text-center w-75 mx-auto">
    <div class="card-body">
        <div class="btn-group" role="group">
            <button type="button" class="btn">
              <img src="/assets/images/add.svg" alt="Add-button" width="20px">
            </button>
            <button type="button" class="btn">
              <img src="/assets/images/edit.svg" alt="edit-button" width="20px">
            </button>
            <button type="button" class="btn">
                <img src="/assets/images/delete.svg" alt="delete-button" width="20px">
            </button>
          </div>
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio animi, ab debitis consequatur quis veritatis alias pariatur sint? Facere similique beatae blanditiis cupiditate unde, nobis et repellat aut totam.</td>
              </tr>
              <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio animi, ab debitis consequatur quis veritatis alias pariatur sint? Facere similique beatae blanditiis cupiditate unde, nobis et repellat aut totam.</td>
              </tr>
              <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio animi, ab debitis consequatur quis veritatis alias pariatur sint? Facere similique beatae blanditiis cupiditate unde, nobis et repellat aut totam.</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>