<div class="container">
  <div class="card mx-auto">
    <div class="card-body">
        <i class="fa fa-user-o fa-5x" aria-hidden="true"></i>
        <div class="card-content">
            <h2>{{currentUser.name}}</h2>
            <h4>Personal Information</h4>
            <p>Email: {{currentUser.email}}</p>
            <p *ngIf="currentUser.telnum">Tel.Number: {{currentUser.telnum}}</p>
            <button class="btn" [routerLink]="['/login']">Log Out</button>
        </div>
    </div>
  </div>

  <div class="card mx-auto">
    <div class="card-body">
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lorem ipsum</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio animi, ab debitis consequatur quis veritatis alias pariatur sint? Facere similique beatae blanditiis cupiditate unde, nobis et repellat aut totam.</td>
              </tr>
              <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio animi, ab debitis consequatur quis veritatis alias pariatur sint? Facere similique beatae blanditiis cupiditate unde, nobis et repellat aut totam.</td>
              </tr>
              <tr>
                  <td>Lorem ipsum</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi optio animi, ab debitis consequatur quis veritatis alias pariatur sint? Facere similique beatae blanditiis cupiditate unde, nobis et repellat aut totam.</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>